<table class="table">
<tbody>
  <thead>
    <tr>
      <th scope="col">Диагональ</th>
      <th scope="col">{{ product.diagonal }}</th>
    </tr>
    <tr>
      <th scope="col">Тип дисплея</th>
      <th scope="col">{{ product.display_type }}</th>
    </tr>
    <tr>
      <th scope="col">Разрешение экрана</th>
      <th scope="col">{{ product.resolution }}</th>
    </tr>
    <tr>
      <th scope="col">Объем батареи</th>
      <th scope="col">{{ product.accum_volume }}</th>
    </tr>
    <tr>
      <th scope="col">Оперативная память</th>
      <th scope="col">{{ product.ram }}</th>
    </tr>
    <tr>
      <th scope="col">Карта памяти</th>
      <th scope="col">{{ product.sd }}</th>
    </tr>
     <tr>
      <th scope="col">Максимальный объем встраиваймой памяти</th>
      <th scope="col">{{ product.sd_volume_max }}</th>
    </tr>
     <tr>
      <th scope="col">Главная камера</th>
      <th scope="col">{{ product.main_cam_mp }}</th>
    </tr>
     <tr>
      <th scope="col">Фронтальная камера</th>
      <th scope="col">{{ product.frontal_cam_mp }}</th>
    </tr>
  </thead>
  </tbody>
</table>